body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px 40px;
}

.nav-left i {
    font-size: 30px;
}

.nav-right a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
